<footer>
    <div class="container-fluid">
        <div class="socials-container">
            <h6>Get connected with us on our social media networks</h6>
            <div class="socials">
                <i class="pi pi-instagram"></i>
                <i class="pi pi-facebook"></i>
                <i class="pi pi-linkedin"></i>
            </div>
            
        </div>
        <div class="info-container">
            <div class="first-column">
                <h3>RIDERS</h3>
                <h6>Company's mission</h6>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex deleniti laboriosam numquam quidem totam dicta molestiae obcaecati! Quam eum omnis consequuntur! 
                    In earum consequatur cupiditate placeat laborum commodi, modi eaque voluptatibus perspiciatis. Doloremque nihil eaque soluta! Amet eius magnam unde veritatis, 
                    possimus a!</p>

            </div>
            <div class="contacts-container">
                <div class="column">
                    <h5>Informazioni</h5>
                    <ul>
                        <li>
                            contatti
                        </li>
                        <li>
                            contatti ancora
                        </li>
                        <li>
                            contatti ancora2
                        </li>
                    </ul>
                    
                </div>
                <div class="column">
                    <h5>Link Utili</h5>
                    <ul>
                        <li>
                            contatti
                        </li>
                        <li>
                            contatti ancora
                        </li>
                        <li>
                            contatti ancora2
                        </li>
                    </ul>
                    
                </div>
                <div class="column">
                    <h5>Contatti</h5>
                    <ul>
                        <li>
                            <p><i class="pi pi-home"></i> New York, NY 10012, US</p>
                        </li>
                        <li>
                            <p><i class="pi pi-envelope"></i> info@example.com</p>
                        </li>
                        <li>
                            <p><i class="pi pi-phone"></i> + 01 234 567 88</p>
                        </li>
                    </ul>
                    
                </div>
            </div>
            
        </div>
        <div class="copyright-container">
            © 2021 Copyright:
         <a class="text-reset fw-bold" href="">Riders.com</a>
        </div>
            
    </div>
    
</footer>
